USE [master]
GO
/****** Object:  Database [DatnekLanguageDB]    Script Date: 29/09/2020 17:55:22 ******/
CREATE DATABASE [DatnekLanguageDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DatnekLanguageDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DatnekLanguageDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DatnekLanguageDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DatnekLanguageDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DatnekLanguageDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DatnekLanguageDB]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 29/09/2020 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLanguage]    Script Date: 29/09/2020 17:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLanguage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LanguageID] [int] NOT NULL,
	[UserID] [int] NULL,
	[LevelSpeacks] [varchar](50) NOT NULL,
	[WrittenLevel] [varchar](50) NOT NULL,
	[CompLevel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserLanguage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([ID], [Name]) VALUES (1, N'fr')
INSERT [dbo].[Language] ([ID], [Name]) VALUES (2, N'en')
INSERT [dbo].[Language] ([ID], [Name]) VALUES (3, N'nl')
SET IDENTITY_INSERT [dbo].[Language] OFF
SET IDENTITY_INSERT [dbo].[UserLanguage] ON 

INSERT [dbo].[UserLanguage] ([ID], [LanguageID], [UserID], [LevelSpeacks], [WrittenLevel], [CompLevel]) VALUES (2, 2, NULL, N'_fluent', N'_fluent', N'_fluent')
INSERT [dbo].[UserLanguage] ([ID], [LanguageID], [UserID], [LevelSpeacks], [WrittenLevel], [CompLevel]) VALUES (4, 1, NULL, N'_elementary', N'_elementary', N'_pre_intermediate')
SET IDENTITY_INSERT [dbo].[UserLanguage] OFF
ALTER TABLE [dbo].[UserLanguage]  WITH CHECK ADD  CONSTRAINT [FK_UserLanguage_Language] FOREIGN KEY([LanguageID])
REFERENCES [dbo].[Language] ([ID])
GO
ALTER TABLE [dbo].[UserLanguage] CHECK CONSTRAINT [FK_UserLanguage_Language]
GO
USE [master]
GO
