
<hr>
<div class="container">
  <ul class="nav nav-pills">
    <li *ngFor="let lang of langs; let i = index" class="nav-item mr-2" (click)="switchLang(lang.Name, i)">
      <a  class="btn nav-link {{activeLang[i] ? 'active' : 'btn-outline-info'}}">{{lang.Name | translate}}</a>
    </li>
    <li class="nav-item float-right ">
      <a class="btn nav-link {{modalText == '_modal_closed' ? 'btn-secondary' : 'btn-success'}} text-white" rel="noopener">
        <span>{{modalText| translate}}</span>
      </a>
    </li>
  </ul>
  <br>
  <h2 class="text-success">{{translate.currentLang | translate}}</h2>
  <br>
  <div class="row clearfix">
    <div class="col-md-9 col-sm-12">
      <div class="card ">
        <div class="card-header">
          <h5 class="card-title">{{'_add_language' | translate}}</h5>
        </div>
        <form #f="ngForm">
            <div class="modal-body row">
              <div class="col-md-6 col-sm-12">
                <label>{{'_select_lang' | translate}} *</label>
                <select required name="lang" [(ngModel)]="userLang.LanguageID" class="form-control show-tick">
                  <option value="0">{{'_select_element' | translate}}</option>
                  <option *ngFor="let lang of langs" value="{{lang.ID}}">{{lang.Name | translate}}</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12">
                <label>{{'_level_speaks' | translate}} *</label>
                <select required name="speak" [(ngModel)]="userLang.LevelSpeacks" class="form-control show-tick">
                  <option value="">{{'_select_element' | translate}}</option>
                  <option value="_elementary">{{'_elementary' | translate}}</option>
                  <option value="_pre_intermediate">{{'_pre_intermediate' | translate}}</option>
                  <option value="_intermediate">{{'_intermediate' | translate}}</option>
                  <option value="_fluent">{{'_fluent' | translate}}</option>
                  <option value="_high">{{'_high' | translate}}</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12">
                <label>{{'_written_level' | translate}} *</label>
                <select required name="writt" [(ngModel)]="userLang.WrittenLevel" class="form-control show-tick">
                  <option value="">{{'_select_element' | translate}}</option>
                  <option value="_elementary">{{'_elementary' | translate}}</option>
                  <option value="_pre_intermediate">{{'_pre_intermediate' | translate}}</option>
                  <option value="_intermediate">{{'_intermediate' | translate}}</option>
                  <option value="_fluent">{{'_fluent' | translate}}</option>
                  <option value="_high">{{'_high' | translate}}</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12">
                <label>{{'_comp_level' | translate}} *</label>
                <select required name="comp" [(ngModel)]="userLang.CompLevel" class="form-control show-tick">
                  <option  value="">{{'_select_element' | translate}}</option>
                  <option value="_elementary">{{'_elementary' | translate}}</option>
                  <option value="_pre_intermediate">{{'_pre_intermediate' | translate}}</option>
                  <option value="_intermediate">{{'_intermediate' | translate}}</option>
                  <option value="_fluent">{{'_fluent' | translate}}</option>
                  <option value="_high">{{'_high' | translate}}</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="userLang.LevelSpeacks =='' || userLang.WrittenLevel =='' || userLang.CompLevel =='' || userLang.LanguageID ==0" type="submit" class="btn btn-primary">
                <span>{{'_save' | translate}}</span>
              </button>
            </div>
          </form>
      </div>
    </div>
    <div style="border-radius: 1%; padding-top: 7%; align-content: center; vertical-align: center" class="col-md-3 col-sm-12 text-white bg-primary text-center">
      <h4>{{'_lang_number' | translate}}</h4>
      <h1>{{userLangs.length}}</h1>
    </div>
  </div>

  <br>

  <div class="row clearfix">
    <div class="col-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{'_lang_list' | translate}}</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-vcenter mb-0 table_custom spacing8 text-nowrap">
              <tbody>
              <tr *ngFor="let userLang of userLangs">
                <td><strong>{{userLang.Language.Name | translate}}</strong></td>
                <td><strong>{{'_level_speaks' | translate}}</strong>: {{userLang.LevelSpeacks | translate}}</td>
                <td><strong>{{'_written_level' | translate}}</strong>: {{userLang.WrittenLevel | translate}}</td>
                <td><strong>{{'_comp_level' | translate}}</strong>: {{userLang.CompLevel | translate}}</td>
                <td class="d-flex">
                  <div class="d-flex justify-content-between">
                    <button class="btn-sm btn-success">
                      <span>{{'_edit' | translate}}</span>
                    </button>
                    <button class=" btn-sm btn-secondary" (click)="open(detailmodal)">
                      <span>{{'_detail' | translate}}</span>
                    </button>
                    <button class="btn-sm btn-danger">
                      <span>{{'_delete' | translate}}</span>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- detail modal -->
<ng-template #detailmodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="detailmodal-title">{{'_detail' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>{{userLang.Language.Name | translate}}</h5>
    <strong>{{'_level_speaks' | translate}}</strong>: {{userLang.LevelSpeacks | translate}} <br>
    <strong>{{'_written_level' | translate}}</strong>: {{userLang.WrittenLevel | translate}} <br>
    <strong>{{'_comp_level' | translate}}</strong>: {{userLang.CompLevel | translate}}
  </div>
</ng-template>

<router-outlet></router-outlet>
